<header>
  <h1>CSE Motors</h1>
</header>

<nav>
  <%- nav %>

  <% if (loggedIn) { %>
    <a href="/account/management">Account</a>
    <a href="/account/logout">Logout</a>
  <% } else { %>
    <a href="/account/login">Login</a>
  <% } %>
</nav>