<%- include("../shared/header") %>

<h1>Welcome <%= firstName %></h1>

<% if (accountType !== "Client") { %>
  <h2>Inventory Management</h2>
<% } %>

<p>You are logged in.</p>

<%- include("../shared/footer") %>