<%- include("../shared/header") %>

<h1>Account Management</h1>

<p>Welcome, <%= firstName %></p>

<% if (accountType === "Employee" || accountType === "Admin") { %>
  <h2>Inventory Management</h2>
  <a href="/inventory/management">Manage Inventory</a>
<% } %>

<a href="/account/update/<%= account_id %>">Update Account</a>

<%- include("../shared/footer") %>