<%- include("../shared/header") %>
<h2>Welcome <%= firstName %></h2>

<a href="/account/update/<%= account_id %>">Update Account Information</a>

<% if (accountType === "Employee" || accountType === "Admin") { %>
  <h3>Inventory Management</h3>
  <p><a href="/inventory">Go to Inventory Management</a></p>
<% } %>

<%- include("../shared/footer") %>
