# Local server values
PORT=5500
HOST=localhost


DATABASE_URL=postgres://cse340_is8t_user:7aRnb3muaMzKlwdJbIaP3mOmM0tPh7aY@dpg-d78ic9buibrs739g1spg-a.singapore-postgres.render.com:5432/cse340_is8t


JWT_SECRET=superSecretKey123
