<%- include("shared/header") %>

<main>
  <h2>Welcome to CSE340 Project</h2>

  <section class="hero">
    <div class="hero-text">
      <p>This is the homepage.</p>

      <a href="/inv">
        <button>Explore Inventory</button>
      </a>
    </div>

    <img src="/images/car.png" alt="Car Image">
  </section>

</main>

<%- include("shared/footer") %>