<%- include("shared/header") %>

<main>
  <h1>Welcome to CSE Motors</h1>

  
  <section class="hero">
    <div class="hero-text">
      <h2>DMC Delorean</h2>
      <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
      </ul>

      <a href="/inventory">
        <button>Own Today</button>
      </a>
    </div>

    <img src="/images/vehicles/delorean.jpg" alt="Delorean">
  </section>

  <div class="content">

    
    <section>
      <h2>Delorean Upgrades</h2>

      <div class="upgrade-grid">
        <div>
          <img src="/images/upgrades/flux-cap.png">
          <p>Flux Capacitor</p>
        </div>

        <div>
          <img src="/images/upgrades/flame.jpg">
          <p>Flame Decals</p>
        </div>

        <div>
          <img src="/images/upgrades/bumper_sticker.jpg">
          <p>Bumper Stickers</p>
        </div>

        <div>
          <img src="/images/upgrades/hub-cap.jpg">
          <p>Hub Caps</p>
        </div>
      </div>
    </section>

  
    <section>
      <h2>DMC Delorean Reviews</h2>
      <ul>
        <li>"So fast it's almost like traveling in time."</li>
        <li>"Coolest ride on the road."</li>
        <li>"I'm feeling Marty McFly!"</li>
        <li>"The most futuristic ride of our day."</li>
      </ul>
    </section>

  </div>
</main>

<%- include("shared/footer") %>