<%- include("shared/header") %>

<main>
  <h2>Welcome to CSE340 Project</h2>

  <section class="hero">
    <div class="hero-text">
      <h3>Featured Vehicle</h3>
      <p>Check out our amazing inventory!</p>

      <a href="/inventory">
        <button>Explore Inventory</button>
      </a>
    </div>

  
    <img src="/images/vehicles/delorean.jpg" alt="Vehicle">
  </section>

  <section>
    <h3>Upgrades</h3>

    <div class="upgrade-grid">
      <div>
        <img src="/images/upgrades/flux-cap.png" alt="Flux">
        <p>Flux Capacitor</p>
      </div>

      <div>
        <img src="/images/upgrades/flame.jpg" alt="Flame">
        <p>Flame Decals</p>
      </div>

      <div>
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Sticker">
        <p>Bumper Stickers</p>
      </div>
    </div>
  </section>

</main>

<%- include("shared/footer") %>