<%- include('../shared/header') %>

<h1>Inventory Home</h1>

<ul>
  <% classificationList.rows.forEach(c => { %>
    <li>
      <a href="/inventory/type/<%= c.classification_id %>">
        <%= c.classification_name %>
      </a>
    </li>
  <% }) %>
</ul>

<%- include('../shared/footer') %>